/* You can add global styles to this file, and also import other style files */
@import "~milligram/dist/milligram.min.css";
@import "~normalize.css/normalize.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background-color: #F4F5F6;
    min-height: 100vh;
}

h1 {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.command-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    //background-color: red;

    button {
        margin-left: 10px;
    }
}

